    
        <div class="c-banners anim anim--up">
            <div class="o-section o-section--paddingbottom">
                <div class="o-wrap">
                    <div class="o-cols">
                        <div class="o-cols__item anim anim--left">
                            <div class="c-banners__item u-primarycolor--cap">
                                <article>
                                    <p class="first">See cups collections</p>
                                    <p class="second">18 collections</p>
                                    
                                    <section class="o-buttons">
                                        <a href="collections.html" class="o-btn o-btn--small o-btn--white">Woman</a>
                                        <a href="collections.html" class="o-btn o-btn--small o-btn--white">Kids</a>
                                    </section>
                                </article>
                                
                                <img src=<%= require("./img/photos/banners/cap.jpg") %> alt="" width="906" height="214">
                            </div>
                        </div>
                        
                        <div class="o-cols__item anim anim--right">
                            <div class="c-banners__item u-primarycolor--cap">
                                <article>
                                    <p class="first">See T-shirt collections</p>
                                    <p class="second">18 collections</p>
                                    
                                    <section class="o-buttons">
                                        <a href="collections.html" class="o-btn o-btn--small o-btn--white">Man</a>
                                    </section>
                                </article>
                                
                                <img src=<%= require("./img/photos/banners/t-shirt.jpg") %> alt="" width="906" height="214">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
