    
        <div class="c-banners c-banners--full anim anim--up">
            <div class="o-section o-section--paddingbottom">
                <div class="o-wrap o-wrap--narrow">

                    <div class="c-banners__item u-primarycolor--tshirt anim anim--up">
                        <article>
                            <p class="first">See T-shirt collections</p>
                            <p class="second">18 collections</p>
                            
                            <section class="o-buttons">
                                <a href="collections.html" class="o-btn o-btn--small o-btn--white">Woman</a>
                                <a href="collections.html" class="o-btn o-btn--small o-btn--white">Kids</a>
                            </section>
                        </article>
                        
                        <img src=<%= require("./img/photos/banners/t-shirt--full.jpg") %> alt="" width="1350" height="214">
                    </div>
                    
                    <div class="c-banners__item u-primarycolor--cap anim anim--up">
                        <article>
                            <p class="first">See cups collections</p>
                            <p class="second">18 collections</p>
                            
                            <section class="o-buttons">
                                <a href="collections.html" class="o-btn o-btn--small o-btn--white">Man</a>
                            </section>
                        </article>
                        
                        <img src=<%= require("./img/photos/banners/cap--full.jpg") %> alt="" width="1350" height="214">
                    </div>
                </div>
            </div>
        </div>
