
                        <div class="c-design">
                            <header class="o-header aligncenter">
                            	<h2 class="o-lead o-lead--first">Design yourself</h2>
                            	<h5 class="o-lead o-lead--fourth">Choose yourself</h5>
                        	</header>
                        	
                        	<div class="o-cols">
                            	<div class="o-cols__item">
                                	<div class="c-design__icon">
                                    	<img src=<%= require("./img/icons/cap-framed.svg") %> alt="">
                                	</div>
                                    	
                                    <a href="#" class="o-btn o-btn--big o-btn--violet">Design <i class="icon-brush"></i></a>
                            	</div>
                            	
                            	<div class="o-cols__item">
                                	<div class="c-design__icon">
                                    	<img src=<%= require("./img/icons/t-shirt-framed.svg") %> alt="">
                                	</div>
                                    	
                                    <a href="#" class="o-btn o-btn--big o-btn--orange">Design <i class="icon-brush"></i></a>
                            	</div>
                        	</div>
                        </div>
