    
        <footer class="c-footer">
            <div class="o-wrap">
                
                <a href="index.html" class="o-logo">
                    <img src=<%= require("./img/assets/logo-worldhafts--white.png") %> alt="worldhafts" width="199" height="109">
                </a>
                
                <p class="o-lead o-lead--6">© 2005-2020 WorldHafts</p>
                
                <% include nav-footer %>
                <% include social %>
            </div>
        </footer>
