    
        <div class="c-homecarousel">
            <div class="o-wrap">
        		<div class="glide" id="homeCarousel">
                    <div class="glide__track" data-glide-el="track">
        
                        <ul class="glide__slides">
                            <li class="glide__slide u-primarycolor--cap">
        						
        						<article class="o-caption">
                                    <p class="first">Title about caps</p>
                                    <p class="second">Maecenas mattis lectus at ligula rutrum.</p>
                                    
                                    <section class="o-buttons">
                                        <a href="man.html" class="o-btn o-btn--big o-btn--white">Man</a>
                                        <a href="kids.html" class="o-btn o-btn--big o-btn--white">Kids</a>
                                    </section>
        	                    </article>
        	                    
        	                    <img src=<%= require("./img/photos/homeslider/01.jpg") %> alt="" width="1840" height="825">
                            </li>
                            
                            <li class="glide__slide u-primarycolor--tshirt">
        						<article class="o-caption">
                                    <p class="first">Title about t-shirt</p>
                                    <p class="second">Maecenas mattis lectus at ligula rutrum.</p>
                                    
                                    <section class="o-buttons">
                                        <a href="man.html" class="o-btn o-btn--big o-btn--white">Man</a>
                                        <a href="kids.html" class="o-btn o-btn--big o-btn--white">Kids</a>
                                    </section>
        	                    </article>
        	                    
        	                    <img src=<%= require("./img/photos/homeslider/02.jpg") %> alt="" width="1840" height="825">
                            </li>
                            
                            <li class="glide__slide glide__slide--black u-primarycolor--cap">
        						<article class="o-caption">
                                    <p class="first">Title about caps</p>
                                    <p class="second">Maecenas mattis lectus at ligula rutrum.</p>
                                    
                                    <section class="o-buttons">
                                        <a href="man.html" class="o-btn o-btn--big o-btn--white">Man</a>
                                        <a href="kids.html" class="o-btn o-btn--big o-btn--white">Kids</a>
                                    </section>
        	                    </article>
        	                    
        	                    <img src=<%= require("./img/photos/homeslider/03.jpg") %> alt="" width="1840" height="825">
                            </li>
                        </ul>
                    </div>
    
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left icon-arrow-left" data-glide-dir="|<"></button>				                    
                        <button class="glide__arrow glide__arrow--right icon-arrow-right" data-glide-dir="|>"></button>
                    </div>
        		</div>
            </div>
    	</div>
