
            <nav class="c-nav js-nav">
                <ul class="c-nav__user js-user">
                    <li class="current-menu-item">
                        <a href="newsletter.html">Newsletter</a>
                    </li>
                    
                    <li>
                        <a href="registration.html">Registration</a>
                    </li>
                    
                    <li>
                        <a href="login.html">Log in</a>
                    </li>
                    
                    <li>
                        <% include lang %>
                    </li>
                </ul>
                
                <ul class="c-nav__menu js-menu">
                    <li class="current-menu-item menu-item-has-children">
                        <a href="man.html">Man</a>
                        
                        <ul>
                            <li>
                                <a href="#">Caps</a>
                            </li>
                            
                            <li>
                                <a href="#">T-shirts</a>
                            </li>
                            
                            <li>
                                <a href="#">Glasses</a>
                            </li>
                            
                            <li>
                                <a href="#">Socks</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="woman.html">Woman</a>
                    </li>
                    
                    <li>
                        <a href="kids.html">Kids</a>
                    </li>
                    
                    <li>
                        <a href="collections.html">Collections</a>
                    </li>
                    
                    <li>
                        <ul class="c-tools">
                            <li>
                                <a href="#" class="icon-heart" data-num="3"></a>
                            </li>
                            
                            <li>
                                <a href="#" class="icon-cart"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
