            
            <div class="c-pagination anim anim--up">

                <a href="products.html" class="icon-arrow-left"></a>
                
                <ul>
                    <li class="is-active">
                        <a href="products.html">1</a>
                    </li>
                    
                    <li>
                        <a href="products.html">2</a>
                    </li>
                    
                    <li>
                        <a href="products.html">3</a>
                    </li>
                    
                    <li>
                        <span>...</span>
                    </li>
                    
                    <li>
                        <a href="products.html">14</a>
                    </li>
                </ul>
                
                <a href="products.html" class="icon-arrow-right"></a>
            </div>
