
                        <div class="c-product__sizes">
                            
                            <div class="title">
                                <p class="o-lead o-lead--fourth">Choose size</p>
                                <p class="o-lead o-lead--fifth">
                                    <a href="#">Description of sizes</a>
                                </p>
                            </div>
                            
                            <ul>
                                <li>
                                    <input type="radio" name="size" checked id="size-1">
                                    <label for="size-1">
                                        <i>xs</i>
                                    </label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="size"  id="size-2">
                                    <label for="size-2">
                                        <i>s</i>
                                    </label>
                                </li>
                                
                                <li class="available">
                                    <input type="radio" name="size"  id="size-3">
                                    <label for="size-3">
                                        <i>m</i>
                                    </label>
                                </li>
                                
                                <li class="available">
                                    <input type="radio" name="size"  id="size-4">
                                    <label for="size-4">
                                        <i>l</i>
                                    </label>
                                </li>
                                
                                <li class="available">
                                    <input type="radio" name="size"  id="size-5">
                                    <label for="size-5">
                                        <i>xl</i>
                                    </label>
                                </li>
                                
                                <li>
                                    <input type="radio" name="size"  id="size-6">
                                    <label for="size-6">
                                        <i>2xl</i>
                                    </label>
                                </li>
                            </ul>
                        </div>
