
                    <div class="c-gallery">
                        <div class="c-gallery__item anim anim--up">
                            <a href="#">
                                <img src=<%= require("./img/photos/arranges/01.jpg") %> alt="" width="438" height="438">
                            </a>
                        </div>
                        
                        <div class="c-gallery__item anim anim--delay1 anim--up">
                            <a href="#">
                                <img src=<%= require("./img/photos/arranges/02.jpg") %> alt="" width="438" height="438">
                            </a>
                        </div>
                        
                        <div class="c-gallery__item anim anim--delay2 anim--up">
                            <a href="#">
                                <img src=<%= require("./img/photos/arranges/03.jpg") %> alt="" width="438" height="438">
                            </a>
                        </div>
                        
                        <div class="c-gallery__item anim anim--delay3 anim--up">
                            <a href="#">
                                <img src=<%= require("./img/photos/arranges/04.jpg") %> alt="" width="438" height="438">
                            </a>
                        </div>
                    </div>
