
                        <div class="c-product__buttons">
                            <ul>
                                <li>
                                    <button type="submit" class="o-btn o-btn--big o-btn--orange">
                                        <span>Add to cart</span>
                                    </button>
                                </li>
                                
                                <li>
                                    <a href="#" class="o-btn o-btn--big o-btn--blackoutline">Favorite</a>
                                </li>
                            </ul>
                        </div>
