
                        <div class="c-product__design">
                            <a href="design.html" class="o-lead o-lead--fourth">Edit & design yourself</a>
                            <i class="icon-brush"></i>
                        </div>
