
                        <article class="o-article">
                            <p>Proin ut placerat nisl, non dignissim odio. Mauris accumsan auctor ligula, ut feugiat tortor mollis vel. Curabitur quis sapien non dui volutpat lacinia duis rhoncus eget dolor eu maximus.</p>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h3>Shipping cost:</h3>
                            <p><strong>Courier:</strong> 17,50 PLN</p>
                            <p><strong>Delivery time:</strong> 14 days</p>
                            
                            <p>&nbsp;</p>

                            <h3>About T-shirt:</h3>                            
                            <p><strong>Material:</strong> 100% cotton</p>
                            <p><strong>Type of neckline:</strong> round</p>
                            <p><strong>Finishes:</strong> double stitching</p>
                            <p><strong>Warranty:</strong> 24 months</p>
                            
                            <p>&nbsp;</p>

                            <h3>About the print:</h3>
                            <p><strong>Printing technology:</strong> DTG</p>
                            <p><strong>Durability:</strong> 100 washes</p>
                            
                            <p>&nbsp;</p>
                            
                            <p><strong>Return up to 30 days</strong></p>
                        </article>
