    
        <div class="c-salesdesign">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <div class="o-cols">
                        <div class="o-cols__item anim anim--left">
    
                            <% include sales %>
    
                        </div>
                        
                        <div class="o-cols__item anim anim--right">
                            
                            <% include design %>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
