
            <div class="c-social">
                <ul>
                    <li>
                        <a href="#" class="icon-ebay"></a>
                    </li>
                    
                    <li>
                        <a href="#" class="icon-facebook"></a>
                    </li>
                    
                    <li>
                        <a href="#" class="icon-instagram"></a>
                    </li>
                    
                    <li>
                        <a href="#" class="icon-twitter"></a>
                    </li>
                    
                    <li>
                        <% include lang %>
                    </li>
                </ul>
                
                <p class="author">
                    Design: <a href="http://quar.studio">Quar.Studio</a>
                </p>
            </div>
