    
        <div class="c-top">
            <div class="o-wrap">
                
                <a href="index.html" class="o-logo">
                    <img src=<%= require("./img/assets/logo-worldhafts.png") %> alt="worldhafts" width="210" height="130">
                </a>
                
                <% include nav %>
                
            </div>
        </div>
