.c-design {
    width: 420px;
    margin: 0 auto;
    
    &__icon {
        margin-bottom: 20px;
    }
    
    .o-btn {
        width: 100%;
        text-transform: uppercase;
        
        .icon-brush {
            margin-left: 15px;
            font-size: rem(30);
        }
    }
    
    .o-cols {
        @extend %flex-spacebetween;

        &__item {
            width: 180px;
        }        
    }
    
    .o-header {
        margin-bottom: 60px;
    }
    
    .o-lead--fourth {
        font-weight: $bold;
    }
}