.c-tools {
    @extend %flex;
    transform: translate3d(0, 50%, 0);
    
    & > li {
        margin: 0 15px;
        
        &:first-child {
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    [class^="icon-"] {
        @extend %flex;
        @extend %flex-xy;
        @extend %rel;
        width: 45px; height: 45px;
        background-color: white;
        box-shadow: 0 10px 30px rgba(black, .3);
        border-radius: 50%;
    }
    
    .icon-heart {
        &:after {
            @extend %abs;
            @extend %flex;
            @extend %flex-xy;
            right: -10px; top: -10px;
            width: 25px; height: 25px;
            background-color: $c-black-04;
            border-radius: 50%;
            font-size: rem(13);
            font-weight: $bold;
            color: white;
            content: attr(data-num);
        }
    }
}