$c-black-01:   #010101;
$c-black-02:   #282828;
$c-black-03:   #050605;
$c-black-04:   #070707;

$c-blue-01:    #3D85C6;
$c-blue-02:    #001DF8;

$c-green-01:   #05A081;

$c-gray-01:    #eceff4;
$c-gray-02:    #BDC1C6;
$c-gray-03:    #F6F6F6;

$c-green-01:   #93C47D;
$c-green-02:   #134F5C;

$c-orange-01:  #F88C00;

$c-pink-01:    #D5A6BD;

$c-violet-01:  #6565FF;
$c-violet-02:  #8E7CC3;

$c-primary: $c-green-01;

$c-red-01:     #F80000;

$c-cap:        $c-violet-02;
$c-tshirt:     $c-orange-01;

:root {
  --primary-color: #{$c-primary};
}
