<% include ./src/includes/head %>
<body>

<div class="o-container">
    
    <% include ./src/includes/top %>
    <% include ./src/includes/homecarousel %>
    <% include ./src/includes/bestsellers-caps %>
    <% include ./src/includes/bestsellers-thirts %>
    <% include ./src/includes/banners %>
    <% include ./src/includes/recommended %>
    <% include ./src/includes/salesdesign %>
    <% include ./src/includes/payhelp %>
    <% include ./src/includes/footer %>

</div>

</body>
</html>


